<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="BABOnlineContext" connectionString="Data Source=zawvf7yr7j.database.windows.net;Initial Catalog=BABOnline;Persist Security Info=True;User ID=NeosinerjiDBManager;Password=neo12345BAB;MultipleActiveResultSets=True;Encrypt=True" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <!--<add name="BABOnlineContext" connectionString="Server=tcp:neoonline.database.windows.net,1433;Initial Catalog=NeoOnline;Persist Security Info=False;
         User ID=NeosinerjiDBManager@neoonline;Password=NeoSnrj2017);MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=400;"
        providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
	  <add name="BABOnlineContext" connectionString="Server=QUANTUMXPS\QUANTUMSQL; Database=NeoOnline; user id=sa; password='Quantum'; Connection Timeout=3600;"
        providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <httpCookies requireSSL="true" xdt:Transform="Replace" />
    <customErrors mode="On" xdt:Transform="Replace">
      <!--<error statusCode="500" redirect="/Error/ErrorPage/500" />
      <error statusCode="403" redirect="/Error/ErrorPage/403" />
      <error statusCode="404" redirect="/Error/ErrorPage/404" />-->
    </customErrors>
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider" xdt:Transform="Replace">
      <providers>
        <add name="AFCacheSessionStateProvider"
             type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache"
             cacheName="default"
             dataCacheClientName="default"
             applicationName="Neosinerji.BABOnlineTP.Web"/>
      </providers>
    </sessionState>-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <rewrite xdt:Transform="Replace">
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>