@{
    ViewBag.Title = "About";
}

<div id="about" class="about_page">
        <div class="container">
            <!-- header -->
            <h2 class="section_header" style="margin-bottom:0px;">
                <hr class="left visible-desktop">
                <span>Hakkımızda</span>
                <hr class="right visible-desktop">
            </h2>

@*            <div class="row">
                <div class="span12">
                    <h3 class="intro">
                        Whether you need to create a brand from scratch, including marketing materials
                        and a beautiful and functional website or whether you are looking for a design
                        refresh pleased with the results.
                    </h3>
                </div>
            </div>*@

            <!-- description -->
            <div class="row">
                <div class="span12" style="font-family:Arial;text-align:justify;">
                    <p>
                        Kurumunuzun çağdaş bir teknolojik alt yapıya kavuşmasına katkıda bulunarak, veriyi işleyen, bilgiyi üreten, 
                        kullanmanızı ve kullandırmanızı sağlayan çözümler üzerine hizmet vermektedir.

                        Microsoft, GTech, Ereteam Detecon, Bimser gibi güçlü çözüm ortaklarımızın uzman yazılım ve sistemlerinin yanı sıra, 
                        özel uygulamalarımız ile de Uluslararası Bilgi Merkezi Kurulumu, Danışmanlık, Yazılım Geliştirme, İş Zekası (BI) Uygulamaları, 
                        Portal Uygulamaları, Veri Standartlarının Oluşturulması ve Eğitim ihtiyaçlarınız için yanınızdayız.

                        neosinerji uzman kadroları ile oluşturacağınız projelerle, sektörel uzman sistemlerin yanı sıra, 
                        şirketinizin ihtiyaç duyduğu noktalarda standart çözümler yerine, üreteceğimiz butik çözümlerle de hizmetinizdeyiz.
                    </p>
                </div>
            </div>

            <h2 class="section_header" style="margin-bottom:0px;">
                <hr class="left">
                <span>Vizyonumuz</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row">
                <div class="span12" style="font-family:Arial;text-align:justify;">
                    <p>
                        Vereceğimiz hizmet ile sigorta sektörünün çağdaş bir teknolojik alt yapıya kavuşmasına katkıda bulunarak, veriyi işleyen, bilgiyi üreten, kullanan ve kullandıran bir sektör olmasına yardımcı olmak. Kurumlar tarafından tercih edilen, istikrarlı, iş odaklı ve sinerji yaratan yaklaşımıyla küresel ölçekte rekabet gücüne sahip örnek bir kurum olmak.
                    </p>
                </div>
            </div>

            <h2 class="section_header" style="margin-bottom:0px;">
                <hr class="left visible-desktop">
                <span>Misyonumuz</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row">
                <div class="span12" style="font-family:Arial;text-align:justify;">
                    <p>
                        Bilişim teknolojilerindeki yenilikler yoluyla,  sistemlerinin kalitesini ve devamlılığını sağlayacak ürün ve hizmetler sunarak, müşterilerimizin karlılığına ve  başarısına katkıda bulunmak.
                    </p>
                </div>
            </div>

            <h2 class="section_header" style="margin-bottom:0px;">
                <hr class="left visible-desktop">
                <span>Değerlerimiz</span>
                <hr class="right visible-desktop">
            </h2>

            <div class="row">
                <div class="span12" style="font-family:Arial;text-align:justify;">
                    <ul>
                        <li>Güvenilir olmak</li>
                        <li>Yeniliğe açık olmak</li>
                        <li>Müşteri memnuniyeti odaklı olmak</li>
                        <li>Beklentilerin üzerinde hizmet kalitesine sahip olmak</li>
                        <li>Fark yaratan bilgi teknolojilerini uygulama konusunda öncü olmak</li>
                        <li>Bilgi teknolojileri konusunda müşterilere ve sektöre değer katmak</li>
                        <li>Çalışan niteliklerini arttırmak ve tercih edilen bir kurum olmak</li>
                    </ul>
                </div>
            </div>
        </div>
</div>

<!-- starts testimonial -->
<div id="testimonials">
    <div class="container">
        <div class="controls">
            <hr/>
        </div>
        <div class="phrases_wrapper">
            <div class="phrase">
                <div class="row">
                    <div class="span7">
                        <p class="testimony">
                            Online sigortacılık çözümlerimizle her zaman yanınızdayız. Bizi arayın, tanışalım.
                                <span>"</span>
                        </p>
                    </div>
                    <div class="span3 offset1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


