@{
    ViewBag.Title = "Home Page";
}


@section featured {
    <section class="featured">
    </section>
}


<style>
    .custom-li {
        float: left;
        line-height: 22px;
        display: block;
        height: 25px;
        width: 225px;
        font-size: 18px;
    }

    .custom-ul {
        height: 30px;
        margin-left: 128px;
        padding-top: 80px;
        text-align: center;
        width: 1000px;
    }

    .icon-fullscreen {
        margin-top: 4px;
    }

    .fonksiyonel-ul {
        width: 300px;
        height: 200px;
        margin-left:0px;
    }

    .fonksiyonel-li {
        line-height: 32px;
        display: block;
    }

    .custom-h4 {
        font-size: 17px;
    }
    .custom-h3 {
        font-size: 18px;
        font-weight:bold;
    }
</style>

@*<div id="intro">
    <div class="container" style="padding-bottom:100px;">
        <h1>Profesyonel Sigortacıların Portalı</h1>
        <ul class="custom-ul" style="font-size:14px;">
            <li class="custom-li"><i class="icon-fullscreen"></i>Online Pazarlama </li>
            <li class="custom-li"><i class="icon-fullscreen"></i>Online Satış </li>
            <li class="custom-li"><i class="icon-fullscreen"></i>Online Operasyon</li>
            <li class="custom-li"><i class="icon-fullscreen"></i>Online Yönetim</li>
        </ul>
        <ul class="custom-ul" style="padding-top:0px;">
            <li class="custom-li"><img src="~/Content/img/Home/OnlinePazarlama.jpg" width="150" height="100" style="width:150px;height:150px;" alt="Online Pazarlama"  /></li>
            <li class="custom-li"><img src="~/Content/img/Home/OnlineSatis.jpg" width="150" height="100" style="width:150px;height:150px;" alt="Online Satış" /></li>
            <li class="custom-li"><img src="~/Content/img/Home/OnlineOperasyon2.jpg" width="150" height="100" style="width:150px;height:150px;" alt="Online Operasyon" /></li>
            <li class="custom-li"><img src="~/Content/img/Home/OnlineYonetim.jpg" width="150" height="100" style="width:150px;height:150px;" alt="Online Yönetim" /></li>
        </ul>
    </div>
</div>*@
<!-- features -->
<div id="features">
    <div class="container">
        <!-- header -->
        <h2 class="section_header" style="font-size: large; margin-bottom:10px;">
            <hr class="left visible-desktop">
            <span>babonline ile profesyonel yarışın</span>
            <hr class="right visible-desktop">
        </h2>
        <!-- feature list -->
        <div class="row" style="font-family:Arial;text-align:justify;">
            <div class="span4 feature">
                <img src="~/Content/img/Home/feature1.jpg" alt="feature1" class="thumb" />
                <div style="width:294px;margin:0px auto;">
                <h3 class="custom-h3" style="padding-left:0px;line-height:30px;text-align:left;font-size: 18px;font-weight:bold;">Broker, Acente ve Bankalara Özel Çözüm ile Tanışın</h3>
                <p class="description">
                    <h4 class="custom-h4"></h4>
                    Broker, acente ve banka sigortacılığı için özel olarak tasarlanmış, online sigortacılık çözümüyle başarınızı destekleyin.

                    <h4 class="custom-h4">Güçlü, kolay, üstelik tamamen online</h4>
                    Çoklu şirket, çoklu ürün, güçlü altyapı kullanım kolaylığı ile online sigortacılığı deneyimleyin.
                  <br />
                    <span></span>
                    <br />
                    Kanıtlanmış başarı ve ekonomik maliyetlerle, hızınızı, paranızı, verimliliğinizi arttırın, satış kanallarınızı yönetin.

                </p>
                </div>
            </div>
            <div class="span4 feature" style="font-family:Arial;text-align:justify;">
                <img src="~/Content/img/Home/feature2.jpg" alt="feature2" class="thumb" />
                <div style="width:294px;margin:0px auto;">
                <h3 class="custom-h3" style="padding-left:0px;line-height:30px;text-align:left;font-size: 18px;font-weight:bold;">Sigortacılık İşlemlerinizi Tek Merkezden Yönetin</h3>
                <p class="description">
                    <h4 class="custom-h4"></h4>

                    <ul class="fonksiyonel-ul">
                        <li class="fonksiyonel-li"><i class="icon-ok"></i>Online müşteri - satış kanalı yönetimi </li>
                        <li class="fonksiyonel-li"><i class="icon-ok"></i>Online karşılaştırmalı teklif</li>
                        <li class="fonksiyonel-li"><i class="icon-ok"></i>Online ödeme </li>
                        <li class="fonksiyonel-li"><i class="icon-ok"></i>Online poliçe</li>
                        <li class="fonksiyonel-li"><i class="icon-ok"></i>Online raporlama</li>
                    </ul>
                </p>
                </div>
            </div>
            <div class="span4 feature" style="font-family:Arial;text-align:justify;">
                <img src="~/Content/img/Home/feature3.jpg" alt="feature3" class="thumb" />
                <div style="width:294px;margin:0px auto;">
                <h3 class="custom-h3" style="padding-left:0px;line-height:30px;text-align:left;font-size: 18px;font-weight:bold;">Dünyanın Her Yerinden İşinizi Yönetme Ayrıcalığını Yaşayın</h3>
                <p class="description">
                    <h4 class="custom-h4"></h4>
                    Mobil cihazlarınız ile dünyanın her yerinde ofisinizdeymiş gibi çalışın.
                    <br />
                    <br />
                    iPhone, iPad ve diğer mobil cihazlarla, müşterilerinizin yanında online olarak sigorta işlemlerini tamamlayın, tekliflerini, poliçelerini e-posta ile iletin.
                    <br />
                    <br />
                    Müşteri, çalışan memnuniyetini arttırın.
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- starts testimonial -->
<div id="testimonials">
    <div class="container">
        <div class="controls">
            <hr/>
        </div>
        <div class="phrases_wrapper">
            <div class="phrase">
                <div class="row">
                    <div class="span7">
                        <p class="testimony">
                            Online sigortacılık çözümlerimizle her zaman yanınızdayız. Bizi arayın, tanışalım.
                                <span>"</span>
                        </p>
                    </div>
                    <div class="span3 offset1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


