@using Neosinerji.BABOnlineTP.Web.Content.Lang

@section PageMenu
{
    <ul class="nav nav-tabs">
        <li class="active"><a href="/Manage/TUM/Ara"><i class="icon-dashboard"></i><span>@babonline.TUM_Search</span></a></li>
        <li><a href="/Manage/TUM/Ekle"><i class="icon-bar-chart"></i><span>@babonline.TUM_Add</span></a></li>
        <li><a href="/Manage/TUM/"><i class="icon-bar-chart"></i><span>TUM ANALİZ</span></a></li>
    </ul>
}

