.header .brand {
    padding-left: 0 !important;
    padding-right: 0;
    width: 225px;
}

.header .hor-menu {
    margin-left: 0 !important;
}

.tvm-logo {
    height: 40px !important;
    margin-right: 0 !important;
    margin-top: -8px !important;
    width: 225px !important;
}
