
@font-face {
    font-family: 'TRY';
    src: url('../fonts/TRY.eot');
    src: url('../fonts/TRY.eot?#iefix') format('embedded-opentype'), url('../fonts/TRY.woff') format('woff'), url('../fonts/TRY.ttf') format('truetype'), url('../fonts/TRY.svg#TRY') format('svg');
    font-weight: normal;
    font-style: normal;
}
