@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Areas.Teklif.Models
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers
@model DetayHazirlayanModel

<div class="control-group">
    <label class="control-label">@babonline.Proposal_TVM</label>
    <div class="controls">
        <label class="control">@Model.TVMUnvani</label>
    </div>
</div>
<div class="control-group">
    <label class="control-label">@babonline.Proposal_TVMUser</label>
    <div class="controls">
        <label class="control">@Model.TVMKullaniciAdi</label>
    </div>
</div> 