<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head> 
<body>
    <div style="width: 500px; height: 370px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color:#626262">
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td width="124">
                        <a target="_blank" href="$LogonAddress$">
                            <img width="124" height="80" border="none" src="$TVMLogo$">
                        </a>
                    </td>
                    <td>&nbsp;</td>
                    <td width="250">
                        <b style="font-size: 16px;">
                            <font face="Verdana, Arial, Helvetica, sans-serif" color="#999999">Broker & Acente & Banka Online Sigortacılık Çözümü</font>
                        </b>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <hr/>
        <div align="left" style="font-size: 14px; width: 500px;">
            <br />
            <p style=color="#000000;font-family:Verdana, Arial, Helvetica, sans-serif;">
                Sayın<strong><span style="color:#626262">$Name$</span></strong>, Aracınızın "Trafik Sigortası" ihtiyacını karşılamaya yönelik hazırladığımız fiyat teklifi ekte yer almaktadır.
            </p>
            <br/>
            <p style=color="#000000;font-family:Verdana, Arial, Helvetica, sans-serif;">
                Teklifinize ulaşmak için $tiklayiniz$.
            </p>
            <hr/>
        </div>
        <div align="left" style="font-size: 14px;">
            <br />
            <table>
                <tr>
                    <td><b style="font-size: 13px;"><font face="Verdana, Arial, Helvetica, sans-serif"> Teklif No</font></b></td>
                    <td>:</td>
                    <td>$ProposalNo$</td>
                </tr>
                <tr>
                    <td><b style="font-size: 13px;"><font face="Verdana,Arial, Helvetica, sans-serif"> Araç Türü</font></b></td>
                    <td>:</td>
                    <td>$VehicleTypeName$</td>
                </tr>
                <tr>
                    <td><b style="font-size: 13px;"><font face="Verdana, Arial, Helvetica, sans-serif"> Plaka</font></b></td>
                    <td>:</td>
                    <td>$Plate$</td>
                </tr>
                <tr>
                    <td><b style="font-size: 13px;"><font face="Verdana,Arial, Helvetica, sans-serif"> Trafik Tescil Tarihi</font></b></td>
                    <td>:</td>
                    <td>$RegistrationDate$</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
