@using Neosinerji.BABOnlineTP.Web.Content.Lang;

<div class="form-section-header">
    <span>@babonline.InsuredBy</span>
</div>
<div class="control-group">
    <label class="control-label">@babonline.InsuredBy</label>
    <div class="controls">
        <button value="ara" type="button"></button>
    </div>
</div>
<div class="control-group">
    <label class="control-label">@babonline.Insured</label>
    <div class="controls">
    </div>
</div>


 
