@using Neosinerji.BABOnlineTP.Web.Content.Lang
@using Neosinerji.BABOnlineTP.Web.Tools.Helpers

<h2>burak kskfajafafasgaga</h2>


@section HorizontalMenu
{
    <ul class="nav">

        @* <li>
                <a href="/Musteri/Musteri/Liste">@babonline.Customer_Search<span></span></a>
            </li>*@
        <li class="active">
            <a href="#">Poliçe Transfer<span class="selected"></span></a>
        </li>
        <li>
            <span class="hor-menu-search-form-toggler">&nbsp;</span>
            <div class="search-form hidden-phone hidden-tablet">
                <form class="form-search">
                    <div class="input-append">
                        <input type="text" placeholder="@babonline.Search" class="m-wrap">
                        <button type="button" class="btn"></button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
}

@section PageHeader
{

}
@section PageScripts
{
    @Scripts.Render("~/bundles/switch")
    <script src="@Url.Content("~/Content/js/PoliceTransfer/PoliceTransfer.js")" type="text/javascript"></script>

    <script type="text/javascript">

        $(".policeyukle").click(function () {
            $("#policeyukle-progress").show();
            policeKayit.DosyaGonder();

        });
    </script>
}