@using Neosinerji.BABOnlineTP.Web.Content.Lang
<div id="sifre-sifirla-rapor" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>@babonline.Password_Reset</h3>
    </div>
    <div class="modal-body">
        <p>@babonline.Password_Reset_Info2</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-info" data-dismiss="modal" aria-hidden="true">@babonline.OK</a>
    </div>
</div>
