@using Neosinerji.BABOnlineTP.Web.Content.Lang

<div id="sifre-sifirla-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>@babonline.Password_Reset</h3>
    </div>
    <div class="modal-body">
        <p>Kullanıcı şifresini sıfırlamak istediğinize emin misiniz?</p>
        <p>Bu işlemi yaptığınızda kullanıcının şifresi TRONWEB kodu ile aynı olacaktır.</p>
        <br />
        <p>Ör: TRONWEB Kullanıcı Adı : A1100001. Şifre : A1100001</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-info" id="btn-onay-sifre-mapfre" data-dismiss="modal" aria-hidden="true">@babonline.Yes</a>
        <a href="#" class="btn btn-info" data-dismiss="modal" aria-hidden="true">@babonline.No</a>
    </div>
</div>
