.add-styling .multiselect {
    text-align: left;
    width: 500px;
}

    .add-styling .multiselect b.caret {
        position: absolute;
        right: 5px;
    }

.add-styling .multiselect-group {
    font-weight: bold;
    text-decoration: underline;
}

.add-styling .multiselect-all {
    font-weight: bold;
}

.add-styling .multiselect-search {
    color: red;
}

.multiselect-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
}


.btn-group {
    width: 90% !important;
}

.multiselect.dropdown-toggle {
    min-width: 90%;
    border-radius: 5px !important;
}

.dropdown-menu li {
    margin-left: 0px;
}

.multiselect-container.dropdown-menu {
    min-width: 90%;
    max-width: 90%;
}

.multiselect-container > li > label > input[type="checkbox"] {
    margin-bottom: 5px;
}

.multiselect-container > li > label.multiselect-header {
    height: 100%;
    margin: 0;
    padding: 3px 20px;
}

.multiselect-container .input-prepend {
    padding: 3px;
    width: 98%;
}

.multiselect-container > li > label {
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 3px 20px;
}

.multiselect-container input[type="text"] {
    width: 83%;
    margin-top: 2px;
}

.multiselect-container > li {
    padding: 0;
}

    .multiselect-container > li > a {
        padding-left: 30px;
    }
