@media (min-width:100px) and (max-width:1140px) {
    .controls > .radio, .controls > .checkbox {
        display: inline-block;
        margin: 8px 17px 0 0 !important;
        padding: 0 !important;
    }

    #radio-custom {
        margin-left: 177px !important;
    }

    #teklif-detay-custom {
        width: 138px !important;
    }


    /*.form-horizontal .controls {
        margin-left: 160px !important;
    }*/
}
